<section>
  <div class="flex items-center gap-30 p-4 border-b border-b-[#D9D9D9]">
    <img src="/boots.png" alt="">
    <div>
      <p class="max-w-2xs">Ботинки из телячьей кожи Brunello Cucinelli</p>
      <p class="text-sm text-[#B2B2B2]">Размер: 43</p>
    </div>
    <div class="flex gap-30">
      <span>43 000 р</span>
      <span class="text-red-600">-20 000 р</span>
      <span class="font-bold">23 000 р</span>
    </div>
    <span class="font-semibold text-2xl">&times;</span>
  </div>
</section>
