<nav class="navbar">
  <img alt="icon" src="/icons/mobile_menu.svg" width="34" height="21" />
  <h2 class="navbar_title">INTERFA</h2>
  <div class="navbar_search_field">
    <img alt="icon" src="/icons/search.svg" width="25" height="25" />
    <input type="text" placeholder="Поиск по продукции" />
  </div>
  <div class="navbar_cart_delivery">
    <img alt="icon" src="/icons/delivery.svg" width="30" height="30" />
    <img alt="icon" src="/icons/cart.svg" width="30" height="30" />
  </div>
  <div class="navbar_search_cart">
    <img alt="icon" src="/icons/search.svg" width="25" height="25" />
    <img alt="icon" src="/icons/cart.svg" width="25" height="25" />
  </div>
</nav>
