@use "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  font-family: "Montserrat", sans-serif;
}

:root {
  --swiper-pagination-color: #333333 !important;
  --tui-radius-m: unset !important;
  --tui-radius-s: unset !important;
}

.swiper-pagination-bullet-active {
  background-color: #333333 !important;
}


