<section class="flex flex-col w-full max-w-80 h-full max-h-450 bg-[#F9F9F9] px-9 py-8">
  <h1 class="text-3xl pb-5">Ваш заказ</h1>
  <div class="flex flex-col gap-2">
    <div class="flex justify-between">
      <span>Сумма заказа</span>
      <span>43 000 p</span>
    </div>
    <div class="flex justify-between pb-4">
      <span>Скидки</span>
      <span class="text-red-600">-20 000 p</span>
    </div>
  </div>

  <div class="flex justify-between text-2xl font-medium border-y-1 border-y-[#D9D9D9] py-2">
    <h3 class="">Итого</h3>
    <span>23 000 p</span>
  </div>

  <div class="flex gap-4 text-xs py-8">
    <img src="cdek.svg" alt="">
    <div>
      <p>Бесплатная доставка в случае покупки товара</p>
      <span class=" text-[#B2B2B2]">Доставка в случае отказа <b>1 500 руб</b>.</span>
    </div>
  </div>
  <button class="py-4 bg-[#190404] text-white text-lg font-semibold">Оформить заказ</button>
</section>
